<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whpu.dao.AdminDao">
    <select id="getAllAdmin" resultType="Admin">
        select *
        from admin
    </select>
    <select id="getAdminById" parameterType="int" resultType="Admin">
        select *
        from admin
        where a_ID = #{a_ID}
    </select>
    <insert id="insertAdmin" parameterType="Admin">
        insert into admin(a_account, a_password, a_name, a_tele, a_facultyID)
        values (#{a_account}, #{a_password}, #{a_name}, #{a_tele}, #{a_facultyID})
    </insert>
    <delete id="deleteAdmin" parameterType="int">
        delete
        from admin
        where a_ID = #{a_ID}
    </delete>
    <update id="updateAdmin" parameterType="Admin">
        update admin
        set a_account=#{a_account},
            a_password=#{a_password},
            a_name=#{a_name},
            a_tele=#{a_tele},
            a_facultyID=#{a_facultyID}
        where a_ID = #{a_ID}
    </update>
</mapper>