<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whpu.dao.UserDao">
    <resultMap id="userListResultMap" type="User">
        <id property="u_ID" column="u_ID"/>
        <result property="u_account" column="u_account"/>
        <result property="u_name" column="u_name"/>
        <result property="u_tele" column="u_tele"/>
        <result property="u_identity" column="u_identity"/>
        <association property="faculty" javaType="Faculty">
            <id property="f_ID" column="f_ID"/>
            <result property="f_name" column="f_name"/>
        </association>
    </resultMap>
    <select id="getAllUser" resultType="User">
        select *
        from user
    </select>
    <select id="getUserById" parameterType="int" resultType="User">
        select *
        from user
        where u_id = #{u_id}
    </select>
    <insert id="insertUser" parameterType="User">
        insert into user(u_account, u_password, u_name, u_tele, u_facultyID, u_identity)
        values (#{u_account}, #{u_password}, #{u_name}, #{u_tele}, #{u_facultyID}, #{u_identity})
    </insert>
    <delete id="deleteUser" parameterType="User">
        delete
        from user
        where u_ID = #{u_ID}
    </delete>
    <update id="updateUser" parameterType="User">
        update user
        set u_account=#{u_account},
            u_password=#{u_password},
            u_name=#{u_name},
            u_tele=#{u_tele},
            u_facultyID=#{u_facultyID},
            u_identity=#{u_identity}
        where u_ID = #{u_ID}
    </update>

    <!--服务层所需操作-->
    <select id="userLogin" parameterType="string" resultMap="userListResultMap">
        select user.*, faculty.f_name
        from user,
             faculty
        where user.u_account = #{u_account}
          AND user.u_password = #{u_password}
          AND user.u_identity = #{u_identity}
          AND user.u_facultyID = faculty.f_ID
    </select>

    <select id="getUserList" resultMap="userListResultMap">
        select user.*, faculty.f_name
        from user,
             faculty
        where user.u_facultyID = faculty.f_ID
    </select>

    <select id="getAllAdmin" resultType="User">
        select *
        from user
        where u_identity = '1'
    </select>

    <select id="quaryByAccount" resultType="User">
        select *
        from user
        where u_account like concat(concat('%', #{u_account}), '%')
    </select>

    <select id="quaryByName" resultType="User">
        select *
        from user
        where u_name like concat(concat('%', #{u_name}), '%')
    </select>
</mapper>